.DS_Store
**/.DS_Store
thumbnail-cleanup-preview/
thumbnail-cleanup-preview.png
thumbnail-transparency-audit.png
*.zip
tmp/
tools/
design-options/
*-options.html
V5_REFINEMENT_OPTIONS.html
images/coach/
images/avatars/avatar-1-cutout.png
images/avatars/avatar-[1-4].png
images/avatars/*-full-body*.png
images/avatars/*-hips-up.png
images/avatars/*-workout-*.png
images/avatars/*-exercise-*.png
images/avatars/*-waist-up-angle.png
images/avatars/avatar-8-cutout-v*.png
